asgiref==3.11.1
Django==6.0.2
djangorestframework-simplejwt==5.4.0
django-cors-headers==4.9.0
djangorestframework==3.16.1
PyJWT==2.10.1
sqlparse==0.5.5
tzdata==2025.3
drf-yasg==1.21.15
inflection==0.5.1
packaging==26.0
pytz==2026.1.post1
pyyaml==6.0.3
uritemplate==4.2.0
attrs==25.4.0
importlib-resources==6.5.2
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
referencing==0.37.0
rpds-py==0.30.0
swagger-spec-validator==3.0.4
typing-extensions==4.15.0
pytest
pytest-django
